[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "statcodelists"]
	path = statcodelists
	url = https://github.com/antaldaniel/statcodelists
